
.section1 {
	background-color: #fed6fb;
}

.congratulation-text {
  font-family: 'Playball';
  font-size: 100px;
  color:#98018c;
  margin-top:10%;
  display: none;
}




.section1 button.pink {
	background-color: #ff88f5;
  font-family: 'Playball';
  font-size: 30px;
}

img.fix-size {
  width:130px;
  height:130px;
}

.text-error {
  color:red;
}

#textMachine {
  height:130px;
  display: none;
  overflow: hidden;  

}



.section1 .login-form {
	position:absolute;
    top:30%;
    right:0;
    left:0;
}

img {
	width:100%;
	height: auto;
}

@font-face {
 font-family: 'DBHX';
 src: url('../fonts/DB Helvethaica X v3.2.eot');
 /* IE9 Compat Modes */
 src: url('../fonts/DB Helvethaica X v3.2.eot?#iefix') format('embedded-opentype'), url('../fonts/DB Helvethaica X v3.2.woff') format('woff'), url('../fonts/DB Helvethaica X v3.2.ttf') format('truetype'), url('../fonts/DB Helvethaica X v3.2.svg#d6a7d8571348c8a262e7f05953d42d15') format('svg');
 /* Legacy iOS */
 font-style: normal;
 font-weight: 400; 
}

.section5,
.section3 {
  background-color: #ffe4fd;
}

.section6 h2,
.section4 h2,
.section2 h2 {
  color:#E366B5;
}

.section3 .paragraph,
.section5 .paragraph {
  color:#860049;
}


.section3 h2,
.section5 h2 
{
  color: #860049;
}


.section1 h2,
.section3 h2,
.section4 h2,
.section5 h2,
.section6 h2,
.section2 h2 {
  padding-top:40px;
	font-family: "Playball";
	font-size: 64px;
	text-align: center;
}

.paragraph {
  padding-top:120px;
  line-height: 50px;
}

.success-area {
  display: none;
}



/* Polaroids */

.polaroids {
  padding: 40px 0px;
}

.polaroids ul li {
  margin:0 10px 10px;
  position: relative;
  display:inline-block;
  list-style: none;
}

.polaroids ul li .pin {
  margin-left:-16px;
  background-image:url(http://martijndevalk.nl/img/pin.png);
  width:34px;
  height:42px;
  position:absolute;
  top:-25px;
  left:50%;
  z-index:6;
}

.polaroids ul a {
  padding: 10px 10px 15px;
  background-color: #fff;
  float: left;
  width: auto;
  text-align: center;
  text-decoration: none;
  color: #686B70;
  font-size: 18px;    
  position: relative;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotate(0deg);         
  transform: rotate(0deg);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);            
}


.polaroids ul li a.shake {                
  -webkit-animation-duration: 4500ms;
  animation-duration: 4500ms;
  -webkit-animation-name: pola;
  animation-name: pola;
  -webkit-transition-timing-function: cubic-bezier(0.655, 0.000, 0.005, 1.000);
  transition-timing-function: cubic-bezier(0.655, 0.000, 0.005, 1.000); 
}

.polaroids ul a:after { content: attr(title) }

.polaroids ul img {
  display: block;
  width: 262px;
  margin-bottom: 12px;
}

@-webkit-keyframes pola { 
from { -webkit-transform: rotate(0deg) }
10%  { -webkit-transform: rotate(3deg) }
20%  { -webkit-transform: rotate(-3deg)}
30%  { -webkit-transform: rotate(2deg) }
40%  { -webkit-transform: rotate(-2deg) }
50%  { -webkit-transform: rotate(1deg) }
60%  { -webkit-transform: rotate(-1deg) }
70%  { -webkit-transform: rotate(0.5deg) }
80%  { -webkit-transform: rotate(-0.5deg) }
90%  { -webkit-transform: rotate(0.2deg) }
to   { -webkit-transform: rotate(0deg) }
}
@keyframes pola { 
from { -moz-transform: rotate(0deg) }
10%  { -moz-transform: rotate(3deg) }
20%  { -moz-transform: rotate(-3deg)}
30%  { -moz-transform: rotate(2deg) }
40%  { -moz-transform: rotate(-2deg) }
50%  { -moz-transform: rotate(1deg) }
60%  { -moz-transform: rotate(-1deg) }
70%  { -moz-transform: rotate(0.5deg) }
80%  { -moz-transform: rotate(-0.5deg) }
90%  { -moz-transform: rotate(0.2deg) }
to   { -moz-transform: rotate(0deg) }






}